
*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: 23.4% 10%;
    grid-template-rows: 13.8% 86%
}

/* HEADER */
.header{
    grid-row: 1;
    grid-column: 1 / span 3;
    border-bottom: 2px solid black;
    padding: 30px;
    height: 6vh;
}
.banner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}

.navTitle h1{
    font-size: 2rem;
}
.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}


/* NAV */

.nav{
    grid-row: 2; /* Placed in the second row */
    grid-column: 1; /* Placed in the first column */
    position: relative;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 21rem;
    height: 86vh;
}

.navbar{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 75px;
}
.navbar p{
    background-color: rgb(0, 175, 255, 0.5);
    border: 3px solid rgb(125, 125, 125, .5);
    border-radius: 10px;
    padding: 7px 17px;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
}
.navbar p:hover{
    background-color: rgb(0, 175, 255);
}
.h2Border{
    height: 3px;
    width: 285px;
    background-color: black;
    border-radius: 10px;
}
.navWrapper{
    padding: 10px 30px 0;
    font-size: 1.5rem;
    gap: 15px;
}
.navWrapper a{
  border: none;
  text-align: center;
  text-decoration: none;
}


/* CONTENT */

.content{
    grid-row: 2; /* Placed in the second row */
  grid-column: 2 / span 2; 
    position: relative;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

