
*{
    margin: 0;
    padding: 0;
}
:root{
    --border-color: rgb(125, 125, 125, .5);
}
.wrapper{
    display: grid;
    height: 100vh; /* Full viewport height */
    grid-template-rows: 19% 1fr; /* 24% for top box, remaining for bottom boxes */
    grid-template-columns: 23.4% 70%;
    overflow: clip;
}

/* HEADER */
.header{
    grid-row: 1;
    grid-column: 1 / span 3;
    border-bottom: 4px solid black;
    align-content: center;
}
.banner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding: 0 3rem;
}

.navTitle h1{
    font-size: 3rem;
}
.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
/* .toggleBtnDiv{
    padding: 12px;
}
.toggleBtnDiv:hover{
    background-color: rgb(0, 175, 255, .5);
    border: 3px solid rgb(125, 125, 125, .5);
    border-radius: 10px;
    padding: 0;
} */

/* NAV */

.navSection{
    display: grid;
    grid-row: 2; /* Placed in the second row */
    grid-column: 1; /* Placed in the first column */
    border-right: 4px solid black;
    border-bottom: 1px solid black;
}

.navbar{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 75px;
}
.navSection.active{
    display: grid;
}
.navbar p{
    background-color: rgb(0, 175, 255, 0.5);
    border: 3px solid var(--border-color);
    border-radius: 10px;
    padding: 7px 17px;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    font-size: 1rem;
}
.navbar p:hover{
    background-color: rgb(0, 175, 255);
}
.h2Border{
    height: 3px;
    width: 100%;
    transform: scale(1.2, 1);
    background-color: black;
    border-radius: 10px;
}
.projects{
}
.projects.active{
    display: none;
}
.navWrapper{
    padding: 10px 30px 0;
    font-size: 1.5rem;
    gap: 15px;
}
.navWrapper a{
  border: none;
  text-align: center;
  text-decoration: none;
}


/* CONTENT */

.content{
    grid-row: 2; 
  grid-column: 2 / span 2;
    padding: 30px 60px 0;
}
.contentTitle{
    background-color: rgb(0, 175, 255, 0.5);
    border: 3px solid var(--border-color);
    border-radius: 10px;
    padding: 7px 17px;
    width: 100%;
    margin: 10px 0;

    height: 60px;
    padding: 20px;
    margin-bottom: 10px;
}
.contentTitle h1{
    font-size: 2rem;
    margin-top: 12px;
}
.taskList{
    border: 3px solid var(--border-color);
    background-color: rgb(0, 175, 255, 0.5);
    margin-left: 10px;
    height: 55vh;
    width: 100%;
    padding: 13px;
    overflow-y:scroll;
}
.tasks{
    display: flex;
    /* outline: 1px solid blue; */
    /* padding: 15px 50px; */
}
.tasks ul{
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.tasks li {
    list-style: circle;
}
.listLeft{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    margin: 0 3rem 0 0;
    width: 45vw;
}
.listContainer{
    display: flex;
    background-color: white;
    outline: 3px solid black;
    justify-content: space-between;
}
/* .listContainer p{
    font-size: 1.5rem;
} */
.taskTitle{
    font-size: 1.7rem;
}
.taskDetails{
    font-size: 1.3rem;
}
.taskBorder{
    height: 7px;
    width: 25%;
    transform: scale(1.2, 1);
    transform: translate(1px, 0);
    background-color: rgb(0, 175, 255);
    border-radius: 2px;
}
.listRight{
    display: flex;
    outline: 1px solid black;
    padding: 5px 0 0 12px;
    gap: 12px;
    align-items: center;
}
.dueDate{
    border: 2px solid rgb(0, 0, 0, .8);
    border-radius: 5px;
    padding: 3px;
}
.taskIcons{
    height: 2rem;
    width: 2rem;
}